name: Build TDLua

on:
    push:
    pull_request:

jobs:
    build:
        runs-on: ubuntu-20.04
        strategy:
            matrix:
                lua: [5.2, 5.3]

        steps:
            - name: Checkout current repo
              uses: actions/checkout@v4
              with:
                submodules: true

            - name: Install dependencies
              run: |
                  (apt-get update || true) 2>/dev/null
                  (apt-get install -y sudo || true) 2>/dev/null
                  sudo apt-get update
                  sudo apt-get install -y libssl-dev openssl zlib1g-dev gperf lua${{ matrix.lua }} liblua${{ matrix.lua }}-dev

            - name: Run compile script
              run: bash compile.sh
              env:
                LUA: lua${{ matrix.lua }}
                TG_APP_ID: ${{ secrets.TG_APP_ID }}
                TG_APP_HASH: ${{ secrets.TG_APP_HASH }}
                token: ${{ secrets.token }}
                chat_id: ${{ secrets.chat_id }}
